.hero_section {
  margin-bottom: 30px;
}
.image_section a {
  font-weight: 800;
  color: #3737ac;
}
.ce_Nav {
  cursor: pointer;
  z-index: 99999;
  position: fixed;
  width: 100%;
}
.ce_Nav:hover {
  background-color: #c7c7ff;
}
.Links_section {
  background-color: unset !important;
}
.button_class {
  font-weight: 700;
  transition: box-shadow 0.35s, transform 0.35s;
  box-shadow: 0 3px 17px rgba(112, 81, 239, 0.27);
  transition: all 0.5s ease-in-out !important;
  cursor: pointer;
}

.button_class:hover {
  color: #fff;
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  box-shadow: 0 7px 25px rgba(112, 81, 239, 0.27);
}
.text_left h1 {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  font-weight: 700;
  line-height: 1.2em;
}
.text_left {
  max-width: none;
  flex: 0 auto;
}
.image_right {
  max-width: none;
  flex: 0 auto;
}
.image_right img {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  opacity: 1;
  order: 0;
  margin-right: 0;
  /* padding-top: 177px; */
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.text_left p {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  text-transform: none;
  font-size: 20px;
  line-height: 1.8em;
  color: #80809d;
  margin-bottom: 41px;
  font-weight: 500;
}
.grid_sec h1 {
  font-weight: 700;
}
.sm\:before\:w-0\.5::before {
  width: 6px !important;
  background-color: rgb(71 112 255) !important;
  height: 649px !important;
}
.sm\:before\:rounded-full::before {
  width: 39px !important;
  height: 39px !important;
  min-height: 39px !important;
  color: #4770ff !important;
  background-color: #4770ff !important;
  border: 3px solid #fff !important;
  border-radius: 1000px !important;
  box-shadow: 0 2px 9px rgba(112, 81, 239, 0.35) !important;
}
.features {
  margin-bottom: 30px;
}
h1 {
  font-weight: bold !important;
}
.card_div {
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  grid-template-rows: auto auto auto 70px;
  grid-template-columns: 1fr;
  justify-content: center;
  justify-items: stretch;
  padding: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
.link_color {
  font-weight: 600;
  font-size: 18px;
  transition: all 0.5s ease-in-out;
}
.link_color:hover {
  color: rgb(237 92 59 / 85%);
}
.card_Arecle {
  opacity: 1;
  color: transparent;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(39, 25, 77, 0.02),
    0 3px 20px rgba(112, 81, 239, 0.04), 0 10px 28px rgba(39, 25, 77, 0.03);
}

.articles img {
  border-radius: 30px;
}
.articles {
  margin-bottom: 30px;
}
.text_side {
  padding-bottom: 20px;
}
.Jurnye_card {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  border-radius: 26px;
  align-items: center;
  padding: 34px 47px;
  text-decoration: none;
  transition: box-shadow 0.35s, transform 0.35s;
  display: flex;
  opacity: 1;
  color: transparent;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(39, 25, 77, 0.02),
    0 3px 20px rgba(112, 81, 239, 0.04), 0 10px 28px rgba(39, 25, 77, 0.03);
}
.Jurnye {
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.Jurnye_card:hover {
  transform: scale(1.03);
  transition: all 0.5s ease-in-out;
}
.Jurnye_card:hover h4 {
  color: red;
  transition: all 0.5s ease-in-out;
}
.border_top_section {
  border-top: 1px solid #eee;
}
.button_adve {
  padding: 8px 10px 8px 27px !important;
  color: #3a395e !important;
  background-color: #f7f7fa !important;
  border: 2px solid #f7f7fa !important;
  border-radius: 14px !important;
  margin-bottom: 0 !important;
  font-size: 18px !important;
  width: 400px !important;
  transition: background-color 0.35s, border-color 0.35s !important;
}

.submit_type {
  width: 64px !important;
  height: 64px !important;
  color: #4770ff !important;
  background-color: #4770ff !important;
  background-image: url(/src/assets/arrow_icon.svg) !important;
  background-position: 50% !important;
  background-repeat: no-repeat !important;
  background-size: auto !important;
  border-radius: 17px !important;
  transition: transform 0.35s !important;
  position: absolute !important;
  right: 20px !important;
  box-shadow: 0 3px 17px rgba(46, 42, 212, 0.13) !important;
  cursor: pointer !important;
  text-decoration: none !important;
}
.submit_type:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
.ceo_footer {
  margin-bottom: 30px;
}
.copyright_se {
  color: #8d8d8d;
  justify-content: space-between;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  line-height: 1.6em;
}
.card_timline {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg)
    rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  opacity: 1;
  transform-style: preserve-3d;
  max-width: 461px;
  padding: 40px 49px;
  color: transparent;
  text-align: center;
  background-color: #fff;
  border-radius: 20px;
  text-decoration: none;
  box-shadow: 0 0 5px rgba(39, 25, 77, 0.02),
    0 3px 20px rgba(112, 81, 239, 0.04), 0 10px 28px rgba(39, 25, 77, 0.03);
}
.sm\:before\:mx-0::before {
  height: 5px !important;

  background-color: rgb(71 112 255) !important;
}
.sm\:before\:mx-0::before {
  background-color: rgb(71 112 255) !important;
}
.Reminning_section {
  padding-bottom: 50px;
}
@media (max-width: 640px) {
  .sm\:before\:rounded-full::before {
    display: none;
  }
  .card_timline {
    padding: 20px !important;
  }
  .text_left h1 {
    font-size: 40px;
  }
  .button_adve {
    width: 300px;
  }
  .ce_Nav {
    position: unset;
  }
}
/* CSS code */
.scroll-color {
  /* Add the styles you want to apply when scrolling */
  /* For example, change the background color to red */
  background-color: red;
}
