.progress {
  background-color: #f5a34c;
  height: 100%;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.progress-bar {
  height: 10px;
  background: #efefef;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}
.border_div {
  background: transparent;
  border: 7px solid #efefef;
}
input[type="range"] {
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 0.1em;
  border: none;
  /* border-radius: 3px; */
  background: #efefef;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: #000000 !important;
  margin-top: -8px;
}

input[type="range"]:focus {
  outline: none;
}
.bord {
  border: none;
  border-bottom: 1px solid BLACK !important;
  outline: none !important;
}
input:focus {
  outline: none !important;
  border: none !important;
}
select {
  border: none !important;
  border-bottom: 1px solid #707070 !important;
  outline: none !important;
}
select:focus {
  border: none !important;
  outline: none !important;
}
select option {
  background-color: #fff;
}

select:active {
  border: none !important;
  outline: none !important;
}
input[type="checkbox"] {
  appearance: none;
  background-color: #fff;
  border: 2px solid #707070;
  border-radius: 4px;
  width: 16px;
  height: 16px;
  outline: none;
  cursor: pointer;
  outline: none !important;
}

input[type="checkbox"]:checked {
  background-color: #f5a34c !important;
  border-color: #f5a34c !important;
  outline: none !important;
}
.modal {
  display: none;
  position: fixed;
  z-index: 394340937;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.border_section {
  border: 1px solid black;
}
.waves_div {
  background-image: url("../../assets/header/Image 12.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
